@import url('reset.css');

/* :: Basic styles
-----------------------------------------------------------------------------*/
a { text-decoration: none; }
input, textarea, select, button { outline: 0; vertical-align: middle; }
input[type='radio'] { vertical-align: top; }
button:hover, input[type='submit']:hover, input[type='button']:hover  { cursor: pointer; }

::-webkit-input-placeholder { color: #BEBEBE; }
:-moz-placeholder { color: #BEBEBE; }
::-moz-placeholder { color: #BEBEBE; }
:-ms-input-placeholder { color: #BEBEBE; }

::selection { background: #0384CE; }
::-moz-selection { background: #0384CE; }

a, input, textarea, select, button, label, div, span {
-moz-transition: all 0.5s linear;
-webkit-transition: all 0.5s linear;
-o-transition: all 0.5s linear;
-ms-transition: all 0.5s linear;
transition: all 0.5s linear;
}

a:active {
-moz-transition: all 0.01s linear;
-webkit-transition: all 0.01s linear;
-o-transition: all 0.01s linear;
-ms-transition: all 0.01s linear;
transition: all 0.01s linear;
}

/* :: Body
-----------------------------------------------------------------------------*/
body {
background: #FFF;
width: 100%;
font: 100% Arial, sans-serif;
text-align: _left;
}

