@import url('reset.css');

/* :: Basic styles
-----------------------------------------------------------------------------*/
a { text-decoration: none; }
input, textarea, select, button { outline: 0; vertical-align: middle; }
input[type='radio'] { vertical-align: top; }
button:hover, input[type='submit']:hover, input[type='button']:hover  { cursor: pointer; }

::-webkit-input-placeholder { color: #BEBEBE; }
:-moz-placeholder { color: #BEBEBE; }
::-moz-placeholder { color: #BEBEBE; }
:-ms-input-placeholder { color: #BEBEBE; }

::selection { background: #0384CE; }
::-moz-selection { background: #0384CE; }

a, input, textarea, select, button, label, div, span {
-moz-transition: all 0.5s linear;
-webkit-transition: all 0.5s linear;
-o-transition: all 0.5s linear;
-ms-transition: all 0.5s linear;
transition: all 0.5s linear;
}

a:active {
-moz-transition: all 0.01s linear;
-webkit-transition: all 0.01s linear;
-o-transition: all 0.01s linear;
-ms-transition: all 0.01s linear;
transition: all 0.01s linear;
}

/* :: Body
-----------------------------------------------------------------------------*/
body {
background: url('../images/feedback_bg.png') no-repeat;
width: 100%;
font: 100% Arial, sans-serif;
text-align: _left;
}

/* :: Feedback form
-----------------------------------------------------------------------------*/
#feedback_form { float: left; margin: 20px 0 0 20px; }

/* Result */
#feedback_form #result { margin-bottom: 10px; }

#feedback_form strong { 
position: relative;
z-index: 999;
padding-left: 10px; 
font-size: 12px; 
font-weight: normal; 
}

#feedback_form input[type='text'], #feedback_form textarea  {
width: 330px;
padding: 5px 10px 5px 10px;
margin-bottom: 5px;
background: #FFF;
border: 1px solid #0384CE;
}

#feedback_form textarea { 
height: 80px; 
margin-top: 2.5px;
-webkit-resize: none; 
-moz-resize: none; 
-o-resize: none; 
-ms-resize: none; 
resize: none; 
}

#feedback_form input[type='text'], #feedback_form textarea, #feedback_form button[type='submit']  {
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
-o-border-radius: 5px;
-ms-border-radius: 5px;
border-radius: 5px;
}

#feedback_form input[type='text']:focus, #feedback_form textarea:focus { border: 1px solid #00B9E8; }

#feedback_form button[type='submit'] {
background-color: #0384CE;
color: #FFF;
width: 180px;
padding: 5px 10px 5px 10px;
border: 1px solid rgba(255,255,255,0.5);
margin-top: 5px;
}

#feedback_form button[type='submit']:hover { background-color: #00B9E8; }
#feedback_form input[name='email'] { display: none; }

/* Plane */
.plane {
float: right;
position: absolute;
right: 390px;
bottom: 23px;
background: url('../images/letter_plane.png') no-repeat;
width: 250px;
height: 150px;
}

/* :: Animation
-----------------------------------------------------------------------------*/
/* Takeoff animation */
.takeoff_animation {
-webkit-animation: takeoff 2.5s linear 1 forwards;
-moz-animation: takeoff 2.5s linear 1 forwards;
-o-animation: takeoff 2.5s linear 1 forwards;
-ms-animation: takeoff 2.5s linear 1 forwards;
animation: takeoff 2.5s linear 1 forwards;
}

@-webkit-keyframes takeoff {
0% { -webkit-transform: rotate(0deg); -moz-transform: rotate(0deg); -o-transform: rotate(0deg); -ms-transform: rotate(0deg); transform: rotate(0deg); right: 390px; }
25% { -webkit-transform: rotate(-10deg); -moz-transform: rotate(-10deg); -o-transform: rotate(-10deg); -ms-transform: rotate(-10deg); transform: rotate(-10deg); right: 300px; }
50% { -webkit-transform: rotate(-10deg); -moz-transform: rotate(-10deg); -o-transform: rotate(-10deg); -ms-transform: rotate(-10deg); transform: rotate(-10deg); right: 200px; }
75% { -webkit-transform: rotate(-10deg); -moz-transform: rotate(-10deg); -o-transform: rotate(-10deg); -ms-transform: rotate(-10deg); transform: rotate(-10deg); right: 100px; }
100% { -webkit-transform: rotate(-10deg); -moz-transform: rotate(-10deg); -o-transform: rotate(-10deg); -ms-transform: rotate(-10deg); transform: rotate(-10deg); right: 20px; bottom: 350px; } }
@-moz-keyframes takeoff {
0% { -webkit-transform: rotate(0deg); -moz-transform: rotate(0deg); -o-transform: rotate(0deg); -ms-transform: rotate(0deg); transform: rotate(0deg); right: 390px; }
25% { -webkit-transform: rotate(-10deg); -moz-transform: rotate(-10deg); -o-transform: rotate(-10deg); -ms-transform: rotate(-10deg); transform: rotate(-10deg); right: 300px; }
50% { -webkit-transform: rotate(-10deg); -moz-transform: rotate(-10deg); -o-transform: rotate(-10deg); -ms-transform: rotate(-10deg); transform: rotate(-10deg); right: 200px; }
75% { -webkit-transform: rotate(-10deg); -moz-transform: rotate(-10deg); -o-transform: rotate(-10deg); -ms-transform: rotate(-10deg); transform: rotate(-10deg); right: 100px; }
100% { -webkit-transform: rotate(-10deg); -moz-transform: rotate(-10deg); -o-transform: rotate(-10deg); -ms-transform: rotate(-10deg); transform: rotate(-10deg); right: 20px; bottom: 350px; } }
@-o-keyframes takeoff {
0% { -webkit-transform: rotate(0deg); -moz-transform: rotate(0deg); -o-transform: rotate(0deg); -ms-transform: rotate(0deg); transform: rotate(0deg); right: 390px; }
25% { -webkit-transform: rotate(-10deg); -moz-transform: rotate(-10deg); -o-transform: rotate(-10deg); -ms-transform: rotate(-10deg); transform: rotate(-10deg); right: 300px; }
50% { -webkit-transform: rotate(-10deg); -moz-transform: rotate(-10deg); -o-transform: rotate(-10deg); -ms-transform: rotate(-10deg); transform: rotate(-10deg); right: 200px; }
75% { -webkit-transform: rotate(-10deg); -moz-transform: rotate(-10deg); -o-transform: rotate(-10deg); -ms-transform: rotate(-10deg); transform: rotate(-10deg); right: 100px; }
100% { -webkit-transform: rotate(-10deg); -moz-transform: rotate(-10deg); -o-transform: rotate(-10deg); -ms-transform: rotate(-10deg); transform: rotate(-10deg); right: 20px; bottom: 350px; } }
@-ms-keyframes takeoff {
0% { -webkit-transform: rotate(0deg); -moz-transform: rotate(0deg); -o-transform: rotate(0deg); -ms-transform: rotate(0deg); transform: rotate(0deg); right: 390px; }
25% { -webkit-transform: rotate(-10deg); -moz-transform: rotate(-10deg); -o-transform: rotate(-10deg); -ms-transform: rotate(-10deg); transform: rotate(-10deg); right: 300px; }
50% { -webkit-transform: rotate(-10deg); -moz-transform: rotate(-10deg); -o-transform: rotate(-10deg); -ms-transform: rotate(-10deg); transform: rotate(-10deg); right: 200px; }
75% { -webkit-transform: rotate(-10deg); -moz-transform: rotate(-10deg); -o-transform: rotate(-10deg); -ms-transform: rotate(-10deg); transform: rotate(-10deg); right: 100px; }
100% { -webkit-transform: rotate(-10deg); -moz-transform: rotate(-10deg); -o-transform: rotate(-10deg); -ms-transform: rotate(-10deg); transform: rotate(-10deg); right: 20px; bottom: 350px; } }
@keyframes takeoff {
0% { -webkit-transform: rotate(0deg); -moz-transform: rotate(0deg); -o-transform: rotate(0deg); -ms-transform: rotate(0deg); transform: rotate(0deg); right: 390px; }
25% { -webkit-transform: rotate(-10deg); -moz-transform: rotate(-10deg); -o-transform: rotate(-10deg); -ms-transform: rotate(-10deg); transform: rotate(-10deg); right: 300px; }
50% { -webkit-transform: rotate(-10deg); -moz-transform: rotate(-10deg); -o-transform: rotate(-10deg); -ms-transform: rotate(-10deg); transform: rotate(-10deg); right: 200px; }
75% { -webkit-transform: rotate(-10deg); -moz-transform: rotate(-10deg); -o-transform: rotate(-10deg); -ms-transform: rotate(-10deg); transform: rotate(-10deg); right: 100px; }
100% { -webkit-transform: rotate(-10deg); -moz-transform: rotate(-10deg); -o-transform: rotate(-10deg); -ms-transform: rotate(-10deg); transform: rotate(-10deg); right: 20px; bottom: 350px; } }

/* NotTakeoff animation */
.not_takeoff_animation {
-webkit-animation: notTakeoff 2.5s linear 1 forwards;
-moz-animation: notTakeoff 2.5s linear 1 forwards;
-o-animation: notTakeoff 2.5s linear 1 forwards;
-ms-animation: notTakeoff 2.5s linear 1 forwards;
animation: notTakeoff 2.5s linear 1 forwards;
}

@-webkit-keyframes notTakeoff {
0% { -webkit-transform: rotate(0deg); -moz-transform: rotate(0deg); -o-transform: rotate(0deg); -ms-transform: rotate(0deg); transform: rotate(0deg); right: 390px; }
50% { -webkit-transform: rotate(-10deg); -moz-transform: rotate(-10deg); -o-transform: rotate(-10deg); -ms-transform: rotate(-10deg); transform: rotate(-10deg); right: 370px; bottom: 43px; }
100% { -webkit-transform: rotate(0deg); -moz-transform: rotate(0deg); -o-transform: rotate(0deg); -ms-transform: rotate(0deg); transform: rotate(0deg); right: 390px; bottom: 23px; } }
@-moz-keyframes notTakeoff {
0% { -webkit-transform: rotate(0deg); -moz-transform: rotate(0deg); -o-transform: rotate(0deg); -ms-transform: rotate(0deg); transform: rotate(0deg); right: 390px; }
50% { -webkit-transform: rotate(-10deg); -moz-transform: rotate(-10deg); -o-transform: rotate(-10deg); -ms-transform: rotate(-10deg); transform: rotate(-10deg); right: 370px; bottom: 43px; }
100% { -webkit-transform: rotate(0deg); -moz-transform: rotate(0deg); -o-transform: rotate(0deg); -ms-transform: rotate(0deg); transform: rotate(0deg); right: 390px; bottom: 23px; } }
@-o-keyframes notTakeoff {
0% { -webkit-transform: rotate(0deg); -moz-transform: rotate(0deg); -o-transform: rotate(0deg); -ms-transform: rotate(0deg); transform: rotate(0deg); right: 390px; }
50% { -webkit-transform: rotate(-10deg); -moz-transform: rotate(-10deg); -o-transform: rotate(-10deg); -ms-transform: rotate(-10deg); transform: rotate(-10deg); right: 370px; bottom: 43px; }
100% { -webkit-transform: rotate(0deg); -moz-transform: rotate(0deg); -o-transform: rotate(0deg); -ms-transform: rotate(0deg); transform: rotate(0deg); right: 390px; bottom: 23px; } }
@-ms-keyframes notTakeoff {
0% { -webkit-transform: rotate(0deg); -moz-transform: rotate(0deg); -o-transform: rotate(0deg); -ms-transform: rotate(0deg); transform: rotate(0deg); right: 390px; }
50% { -webkit-transform: rotate(-10deg); -moz-transform: rotate(-10deg); -o-transform: rotate(-10deg); -ms-transform: rotate(-10deg); transform: rotate(-10deg); right: 370px; bottom: 43px; }
100% { -webkit-transform: rotate(0deg); -moz-transform: rotate(0deg); -o-transform: rotate(0deg); -ms-transform: rotate(0deg); transform: rotate(0deg); right: 390px; bottom: 23px; } }
@keyframes notTakeoff {
0% { -webkit-transform: rotate(0deg); -moz-transform: rotate(0deg); -o-transform: rotate(0deg); -ms-transform: rotate(0deg); transform: rotate(0deg); right: 390px; }
50% { -webkit-transform: rotate(-10deg); -moz-transform: rotate(-10deg); -o-transform: rotate(-10deg); -ms-transform: rotate(-10deg); transform: rotate(-10deg); right: 370px; bottom: 43px; }
100% { -webkit-transform: rotate(0deg); -moz-transform: rotate(0deg); -o-transform: rotate(0deg); -ms-transform: rotate(0deg); transform: rotate(0deg); right: 390px; bottom: 23px; } }

/* Luster animation */
#feedback_form button[type='submit'] {
background-image: -webkit-linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.25) 25%, rgba(255,255,255,0.5) 50%, rgba(255,255,255,0.75) 75%, rgba(255,255,255,0) 100%);
background-image: -moz-linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.25) 25%, rgba(255,255,255,0.5) 50%, rgba(255,255,255,0.75) 75%, rgba(255,255,255,0) 100%);
background-image: -o-linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.25) 25%, rgba(255,255,255,0.5) 50%, rgba(255,255,255,0.75) 75%, rgba(255,255,255,0) 100%);
background-image: -ms-linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.25) 25%, rgba(255,255,255,0.5) 50%, rgba(255,255,255,0.75) 75%, rgba(255,255,255,0) 100%);
background-image: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.25) 25%, rgba(255,255,255,0.5) 50%, rgba(255,255,255,0.75) 75%, rgba(255,255,255,0) 100%);
background-position: -900px 0;
background-repeat: no-repeat;
background-size: 100% 100%;
-webkit-animation: luster 5s linear infinite;
-moz-animation: luster 5s linear infinite;
-o-animation: luster 5s linear infinite;
-ms-animation: luster 5s linear infinite;
animation: luster 5s linear infinite;
}

@-webkit-keyframes luster { 0% { background-position: -900px 0; } 50% { background-position: 900px 0; } 100% { background-position: 900px 0; } }
@-moz-keyframes luster { 0% { background-position: -900px 0; } 50% { background-position: 900px 0; } 100% { background-position: 900px 0; } }
@-o-keyframes luster { 0% { background-position: -900px 0; } 50% { background-position: 900px 0; } 100% { background-position: 900px 0; } }
@-ms-keyframes luster { 0% { background-position: -900px 0; } 50% { background-position: 900px 0; } 100% { background-position: 900px 0; } }
@keyframes luster { 0% { background-position: -900px 0; } 50% { background-position: 900px 0; } 100% { background-position: 900px 0; } }