@import url('reset.css');

/* :: Basic styles
-----------------------------------------------------------------------------*/
a { text-decoration: none; }
input, textarea, select, button { outline: 0; vertical-align: middle; }
input[type='radio'] { vertical-align: top; }
button:hover, input[type='submit']:hover, input[type='button']:hover  { cursor: pointer; }
::-webkit-input-placeholder { color: #BEBEBE; }
:-moz-placeholder { color: #BEBEBE; }
::-moz-placeholder { color: #BEBEBE; }
:-ms-input-placeholder { color: #BEBEBE; }
::selection { background: #0384CE; }
::-moz-selection { background: #0384CE; }
a, input, textarea, select, button, label, div, span { -moz-transition: all 0.5s linear; -webkit-transition: all 0.5s linear; -o-transition: all 0.5s linear; -ms-transition: all 0.5s linear; transition: all 0.5s linear; }
a:active { -moz-transition: all 0.01s linear; -webkit-transition: all 0.01s linear; -o-transition: all 0.01s linear; -ms-transition: all 0.01s linear; transition: all 0.01s linear; }

/* :: Body and wrapper
-----------------------------------------------------------------------------*/
body 
{
   background: url('../images/atlantic_dent_bg.png') repeat;
   width: 100%;
   font: 100% Arial, sans-serif;
   text-align: _left;
}

#wrapper { width: 1000px; margin: 0 auto; }
.wrapper_area {   text-align: center; width: 1000px; margin: 0 auto; }

/* :: Ribbon column
-----------------------------------------------------------------------------*/
#ribbon_column 
{
   width: 150px;
   height: 150px;
   position: absolute;
   top: 0;
   right: 0;
   z-index: 999;
   overflow: hidden;
   pointer-events: none;
}

#ribbon_column .ribbon 
{
   position: absolute;
   top: 42px;
   right: -43px;
   z-index: 999;
   padding: 2px 0;
   background-color: #3156A3;
   background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0)), to(rgba(0,0,0,0.15)));
   background-image: -webkit-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.15));
   background-image: -moz-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.15));
   background-image: -ms-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.15));
   background-image: -o-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.15));
   background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.15));
   pointer-events: auto;
   -webkit-box-shadow: 0 2px 2px rgba(0,0,0,0.2); -moz-box-shadow: 0 2px 2px rgba(0,0,0,0.2); -o-box-shadow: 0 2px 2px rgba(0,0,0,0.2); -ms-box-shadow: 0 2px 2px rgba(0,0,0,0.2); box-shadow: 0 2px 2px rgba(0,0,0,0.2); 
   -webkit-transform: rotate(45deg); -moz-transform: rotate(45deg); -ms-transform: rotate(45deg); -o-transform: rotate(45deg); transform: rotate(45deg);
}

#ribbon_column .ribbon a 
{
   color: #FFF;
   font-size: 12px;
   font-weight: bold;
   text-align: center;
   text-shadow: 0 -1px rgba(0,0,0,0.5);
   width: 200px;
   line-height: 20px;
   display: inline-block;
   padding: 2px 0;
   border-width: 1px 0;
   border-style: solid;
   border-color: #FFF;
   border-color: rgba(255,255,255,0.7);
}

#ribbon_column .ribbon a:hover { text-shadow: 0 0 6px rgba(255,255,255,0.7); }
#ribbon_column .ribbon a:active { color: transparent; }

/* :: Header and logo
-----------------------------------------------------------------------------*/
#header 
{
   background: url('../images/atlantic_dent_bg.png') repeat;
   width: 100%;
   min-width: 1000px;
   height: 150px;
    text-align: center;
   overflow: hidden;
}

#header #logo 
{
    height: 200px;
    margin: -25px auto;
}

/* :: Main menu
-----------------------------------------------------------------------------*/
#main_menu 
{
   position: fixed;
   background: #3156A3;
   width: 100%;
    height: 55px;
   min-width: 1000px;
   text-align: center;
   z-index: 999;
}

.fixed 
{ 
   left: 0; 
   right: 0; 
   top: 0; 
   bottom: 0; 
}

#m_m_auxiliary { width: 100%; min-width: 1000px; height: 35px; }
#main_menu ul { display: inline-block; margin: 0 auto; text-align: center; }
#main_menu ul li { float: left; }

#main_menu ul li a 
{
   display: block;
   color: #FFF;
   text-align: center;
    text-transform: uppercase;
   line-height: 35px;
   font-size: 14px;
   padding: 10px 15px 10px 15px;
   border-right: 1px solid #3126A3;
   border-left: 1px solid #3186A3;
}

#main_menu ul li:first-child a { border-left: 0; }
#main_menu ul li:last-child a { border-right: 0; }
#main_menu ul li a:hover, #main_menu ul li a.active { background: #00B9E8; }
#main_menu ul li a:active { background: #0384CE; }

.fb_iframe_widget iframe {
    border-radius: 5px 5px 5px 5px;
}

/* :: Column name
-----------------------------------------------------------------------------*/
.black_column_name, .white_column_name 
{
   position: relative;
   width: 1000px;
    text-transform: uppercase;
    font-weight: 600;
   height: 70px;
   margin: 0 auto;
   font-size: 20px;
   text-align: center;
   line-height: 70px;
}

.black_column_name { color: #FFF; }
.white_column_name { color: #000; }

.black_column_name:before, .black_column_name:after, .white_column_name:before, .white_column_name:after 
{
   content: '';
   position: absolute;
   bottom: 0;
   width: 480px;
   height: 1px;
}

.black_column_name:before, .black_column_name:after { border-bottom: 4px double #FFF; }
.white_column_name:before, .white_column_name:after { border-bottom: 4px double #000; }
.black_column_name:before, .white_column_name:before { left: 0; }
.black_column_name:after, .white_column_name:after { right: 0; }
.b_c_n_icon, .w_c_n_icon { width: 24px; height: 24px; margin: -15px auto; }
.b_c_n_icon { background: url('../images/white_tooth.png') no-repeat center 0; }
.w_c_n_icon { background: url('../images/black_tooth.png') no-repeat center 0; }

/* :: Column content
-----------------------------------------------------------------------------*/
.black_column_content, .white_column_content { width: 1000px; margin: 25px auto; }
.black_column_content { color: #FFF; }
.white_column_content { color: #000; }
.black_column_content h1, .white_column_content h1 { padding-bottom: 10px; font-size: 18px; }
.black_column_content p, .white_column_content p { padding-bottom: 10px; font-size: 16px; }

/* :: Home column
-----------------------------------------------------------------------------*/
#home_column 
{ 
   background: url('../images/column_bg/home_bg.png') no-repeat 0 60%;
   background-size: 100% 800px;
   width: 100%; 
   min-width: 1000px; 
   height: 400px; 
   border-bottom: 2px ridge #42B3E5;
   overflow: hidden;
}

/* Three column */
#home_column #three_column 
{
   position: relative;
   width: 1020px;
   height: 250px;
   margin: 75px auto;
   -moz-box-shadow: 2px 2px 2px rgba(0,0,0,0.3); -webkit-box-shadow: 2px 2px 2px rgba(0,0,0,0.3); -o-box-shadow: 2px 2px 2px rgba(0,0,0,0.3); -ms-box-shadow: 2px 2px 2px rgba(0,0,0,0.3); box-shadow: 2px 2px 2px rgba(0,0,0,0.3);
}

/* Three in column */
#home_column #three_column  .three_in_column { float: left; width: 340px; height: 250px; }
#home_column #three_column  .three_in_column:nth-child(1) { background: #42B3E5; -webkit-border-radius: 5px 0 0 5px; -moz-border-radius: 5px 0 0 5px; -o-border-radius: 5px 0 0 5px; -ms-border-radius: 5px 0 0 5px; border-radius: 5px 0 0 5px; }
#home_column #three_column  .three_in_column:nth-child(2) { background: #0384CE; }
#home_column #three_column  .three_in_column:nth-child(3) { background: #3156A3; -webkit-border-radius: 0 5px 5px 0;-moz-border-radius: 0 5px 5px 0;-o-border-radius: 0 5px 5px 0;-ms-border-radius: 0 5px 5px 0;border-radius: 0 5px 5px 0; }
#home_column #three_column  .three_in_column h1 { color: #FFF; font-size: 18px; padding: 15px 20px 15px 20px; }
#home_column #three_column  .three_in_column p { color: #FFF; font-size: 15px; padding: 0 20px 0 20px; }
#home_column #three_column  .three_in_column dl { color: #FFF; font-size: 15px; }
#home_column #three_column  .three_in_column dl dt, #three_column  .three_in_column dl dd { padding: 0 20px 0px 20px; }
#home_column #three_column  .three_in_column dl dd { text-align: right; }

/* More button */
#home_column #three_column  .three_in_column a.more_button 
{
   display: block;
   background-color: rgba(49,86,163,0.5); 
   position: absolute;
   width: 150px;
   height: 35px;
   color: #FFF;
   font-size: 15px;
   text-align: center;
   line-height: 35px;
   bottom: 0;
   margin: 0 0 25px 20px;

   -webkit-border-radius: 5px; -moz-border-radius: 5px; -o-border-radius: 5px; -ms-border-radius: 5px; border-radius: 5px;
   -webkit-box-shadow: 0 2px 2px rgba(0,0,0,0.2); -moz-box-shadow: 0 2px 2px rgba(0,0,0,0.2); -o-box-shadow: 0 2px 2px rgba(0,0,0,0.2); -ms-box-shadow: 0 2px 2px rgba(0,0,0,0.2); box-shadow: 0 2px 2px rgba(0,0,0,0.2); 
   -webkit-transition: background-color 0.5s linear; -moz-transition: background-color 0.5s linear; -o-transition: background-color 0.5s linear; -ms-transition: background-color 0.5s linear; transition: background-color 0.5s linear;
}

#home_column #three_column  .three_in_column a.more_button:hover { background-color: rgba(49,86,163,0.1); }

/* :: About us column
-----------------------------------------------------------------------------*/
#aboutus_column {
   background: url('../images/column_bg/black_bg.png') repeat;
   width: 100%; 
   min-width: 1000px; 
   min-height: 400px;
   padding-bottom: 55px; 
   border-bottom: 2px ridge #0384CE;
   overflow: hidden;
}

/* Slider */
#aboutus_column .bx-wrapper { float: left; width: 495px; height: 330px; }
#aboutus_column #slider_column img { width: 495px; height: 330px; }

/* Kinds dental services */
#aboutus_column #kinds_dental_services 
{
   float: right;
   background: #303030;
   width: 495px;
   height: 315px;
   padding-bottom: 15px;
   margin-bottom: 10px;
}

#aboutus_column #kinds_dental_services ul { margin-left: 20px; }

#aboutus_column #kinds_dental_services ul li 
{
   background: url('../images/check.png') no-repeat 0 0;
   min-width: 32px;
   height: 32px;
   padding-left: 40px;
   margin-bottom: 5px;
   line-height: 32px;
   font-size: 14px;
   letter-spacing: 2px;
   color: #FFF;
}

#aboutus_column #kinds_dental_services h1, 
#contacts_column #our_location_column h1, 
#contacts_column #our_contacts_column h1 
{
   background: #0384CE;
   width: auto;
   height: 40px;
    text-transform: uppercase;
   line-height: 40px;
   padding: 0 20px 0 20px;
   margin-bottom: 15px;
   color: #FFF;
   font-size: 16px;

   -webkit-border-radius: 5px 5px 0 0; -moz-border-radius: 5px 5px 0 0; -o-border-radius: 5px 5px 0 0; -ms-border-radius: 5px 5px 0 0; border-radius: 5px 5px 0 0;
}

#aboutus_column #kinds_dental_services, #contacts_column #page_time, #contacts_column #our_location_column, #contacts_column #our_contacts_column { -webkit-border-radius: 5px; -moz-border-radius: 5px; -o-border-radius: 5px; -ms-border-radius: 5px; border-radius: 5px; -webkit-box-shadow: 0 2px 2px rgba(0,0,0,0.2); -moz-box-shadow: 0 2px 2px rgba(0,0,0,0.2); -o-box-shadow: 0 2px 2px rgba(0,0,0,0.2); -ms-box-shadow: 0 2px 2px rgba(0,0,0,0.2); box-shadow: 0 2px 2px rgba(0,0,0,0.2); } 

/* Tabs column */
#aboutus_column #tabs_column { width: 1000px; margin: 0 auto; }
#aboutus_column #tabs_column .tab_content { background: #303030; padding: 20px 20px 10px 20px; -webkit-border-radius: 0 0 5px 5px; -moz-border-radius: 0 0 5px 5px; -o-border-radius: 0 0 5px 5px; -ms-border-radius: 0 0 5px 5px; border-radius: 0 0 5px 5px; -webkit-box-shadow: 0 2px 2px rgba(0,0,0,0.2); -moz-box-shadow: 0 2px 2px rgba(0,0,0,0.2); -o-box-shadow: 0 2px 2px rgba(0,0,0,0.2); -ms-box-shadow: 0 2px 2px rgba(0,0,0,0.2); box-shadow: 0 2px 2px rgba(0,0,0,0.2); }

#aboutus_column #tabs_column .tabs_links 
{
   background: #0384CE;
   width: 1000px;
   height: 40px;
   margin: 0 auto;
   overflow: hidden;
   clear: both;

   text-align: center;
   -webkit-border-radius: 5px 5px 0 0; -moz-border-radius: 5px 5px 0 0; -o-border-radius: 5px 5px 0 0; -ms-border-radius: 5px 5px 0 0; border-radius: 5px 5px 0 0;
   -webkit-box-shadow: 0 2px 2px rgba(0,0,0,0.2); -moz-box-shadow: 0 2px 2px rgba(0,0,0,0.2); -o-box-shadow: 0 2px 2px rgba(0,0,0,0.2); -ms-box-shadow: 0 2px 2px rgba(0,0,0,0.2); box-shadow: 0 2px 2px rgba(0,0,0,0.2);
}

#aboutus_column #tabs_column .tabs_links ul { display: inline-block; margin: 0 auto; text-align: center; }
#aboutus_column #tabs_column .tabs_links ul li { float: left; }

#tabs_column .tabs_links ul li a 
{ 
   display: block;
   background: #0384CE;
   width: auto;
   height: 40px;
   padding: 0 15px 0 15px;
   color: #FFF;
   font-size: 14px;
   text-align: center;
   line-height: 40px;
}

#aboutus_column #tabs_column .tabs_links ul li a:hover { background: #3156A3; cursor: pointer; } 
#aboutus_column #tabs_column .tabs_links ul li a.active { background: #3156A3; } 
#aboutus_column #tabs_column .tabs_links ul li a:active { background: #3146A3; }

/* fadeIn animation */
.fadeIn { -webkit-animation: fadeIn 1s linear; -moz-animation: fadeIn 1s linear; -o-animation: fadeIn 1s linear; -ms-animation: fadeIn 1s linear; animation: fadeIn 1s linear; }

@-webkit-keyframes fadeIn { 0% { opacity: 0; } 100% { opacity: 1; } }
@-moz-keyframes fadeIn { 0% { opacity: 0; } 100% { opacity: 1; } }
@-o-keyframes fadeIn { 0% { opacity: 0; } 100% { opacity: 1; } }
@-ms-keyframes fadeIn { 0% { opacity: 0; } 100% { opacity: 1; } }
@keyframes fadeIn { 0% { opacity: 0; } 100% { opacity: 1; } }

/* Cosmetic dentistry services */
#aboutus_column .cosmetic_dentistry_services { display: block; padding-bottom: 5px; }
#aboutus_column .cosmetic_dentistry_services ul { list-style: circle inside; }
#aboutus_column .cosmetic_dentistry_services ul li { color: #FFF; padding-bottom: 5px; }

/* :: Doctor and schedule column
-----------------------------------------------------------------------------*/
#doctors_and_schedule_column 
{
   background: url('../images/column_bg/white_bg.png') repeat;
   width: 100%; 
   min-width: 1000px; 
   min-height: 400px;
   padding-bottom: 55px; 
   border-bottom: 2px ridge #3156A3;
   overflow: hidden;
}

/* Doctor column */
#doctors_and_schedule_column .doctor_column 
{
    float: left;
    width: 230px;
    height: 330px;
    margin: 0 10px 10px 10px;
    padding: 5px 0 5px 0;
}
.doc_1, .doc_2, .doc_3, .doc_4
{
    cursor: pointer;
}
#doctors_and_schedule_column .doctor_column .doctor_img
{
    width: 230px;
    height: 230px;
    margin: 10px auto;
    overflow: hidden;
    border: 6px double rgba(0,0,0,0.1);
}

#doctors_and_schedule_column .doctor_column .doctor_img:hover { border: 6px double rgba(3,132,206,0.5); }
#doctors_and_schedule_column .doctor_column .doctor_img img { width: 100%; height: auto; }
#doctors_and_schedule_column .doctor_column .doctor_img, #doctors_and_schedule_column .doctor_column .doctor_img img { -webkit-border-radius: 250px; -moz-border-radius: 250px; -o-border-radius: 250px; -ms-border-radius: 250px; border-radius: 250px; }

#doctors_and_schedule_column .doctor_column h1 
{ 
   color: #000; 
   font-size: 18px; 
   text-align: center; 
   padding: 5px 0 5px 0; 
}

#doctors_and_schedule_column .doctor_column h2 { color: #000; font-size: 14px; text-align: center; }

/* Doctor schedule column */
#doctors_and_schedule_column #doctors_schedule_column 
{  
   width: 1000px; 
   min-height: 250px; 
   margin: 0 auto; 
   overflow: hidden; 
   clear: both;
   color: #FFF;
   font-size: 14px;
   text-align: center;
}

#doctors_and_schedule_column #doctors_schedule_column div { display: block; margin-bottom: 5px; }

#doctors_and_schedule_column #doctors_schedule_column .schedule_column 
{
   float: left;
   width: 125px;
   min-height: 250px;
   -webkit-box-shadow: -1px 0 1px rgba(0,0,0,0.1); -moz-box-shadow: -1px 0 1px rgba(0,0,0,0.1); -o-box-shadow: -1px 0 1px rgba(0,0,0,0.1); -ms-box-shadow: -1px 0 1px rgba(0,0,0,0.1); box-shadow: -1px 0 1px rgba(0,0,0,0.1);
}

#doctors_and_schedule_column #doctors_schedule_column .schedule_column:first-child { box-shadow: none; }

#doctors_and_schedule_column #doctors_schedule_column .schedule_column .day_week 
{ 
   background: #42B3E5; 
   width: auto; 
   height: 50px;
    text-transform: uppercase;
   line-height: 50px; 
}

#doctors_and_schedule_column #doctors_schedule_column .schedule_column .day_week:hover { background: #42A3E5; }

#doctors_and_schedule_column #doctors_schedule_column .schedule_column .day_week .calendar_icon 
{ 
   display: inline-block; 
   background: url('../images/calendar.png') no-repeat; 
   width: 32px; 
   height: 32px; 
}

#doctors_and_schedule_column #doctors_schedule_column .schedule_column:first-child .day_week,
#doctors_and_schedule_column #doctors_schedule_column .schedule_column .doctor_name { -webkit-border-radius: 5px 0 0 5px; -moz-border-radius: 5px 0 0 5px; -o-border-radius: 5px 0 0 5px; -ms-border-radius: 5px 0 0 5px; border-radius: 5px 0 0 5px; }

#doctors_and_schedule_column #doctors_schedule_column .schedule_column:last-child .day_week, 
#doctors_and_schedule_column #doctors_schedule_column .schedule_column:last-child .schedule { -webkit-border-radius: 0 5px 5px 0; -moz-border-radius: 0 5px 5px 0; -o-border-radius: 0 5px 5px 0; -ms-border-radius: 0 5px 5px 0; border-radius: 0 5px 5px 0; }

#doctors_and_schedule_column #doctors_schedule_column .schedule_column .doctor_name, 
#doctors_and_schedule_column #doctors_schedule_column .schedule_column .schedule { -webkit-box-shadow: 0 2px 2px rgba(0,0,0,0.2); -moz-box-shadow: 0 2px 2px rgba(0,0,0,0.2); -o-box-shadow: 0 2px 2px rgba(0,0,0,0.2); -ms-box-shadow: 0 2px 2px rgba(0,0,0,0.2); box-shadow: 0 2px 2px rgba(0,0,0,0.2); }

#doctors_and_schedule_column #doctors_schedule_column .schedule_column .doctor_name 
{ 
   background-color: #0384CE; 
   width: auto; 
   height: 57px; 
   padding: 15px; 
}

#doctors_and_schedule_column #doctors_schedule_column .schedule_column .doctor_name:hover { background-color: #0374CE; }

#doctors_and_schedule_column #doctors_schedule_column .schedule_column .schedule 
{ 
   background: #3156A3; 
   width: auto; 
   height: 87px; 
   line-height: 87px; 
}

#doctors_and_schedule_column #doctors_schedule_column .schedule_column .schedule:hover { background: #3146A3; }
#doctors_and_schedule_column #doctors_schedule_column .schedule_column .schedule:last-child { margin-bottom: 0; }

/* :: News column
-----------------------------------------------------------------------------*/
#news_column 
{
   background: url('../images/column_bg/black_bg.png') repeat;
   width: 100%; 
   min-width: 1000px; 
   min-height: 400px; 
   padding-bottom: 55px;
   border-bottom: 2px ridge #42B3E5;
   overflow: hidden;
}

/* News column */
#news_column .news_column 
{
   float: left;
   background: #FFF;
   width: 230px;
   height: 250px;
   margin: 0 5px 10px 5px;
   padding: 5px;
   -webkit-border-radius: 5px; -moz-border-radius: 5px; -o-border-radius: 5px; -ms-border-radius: 5px; border-radius: 5px;
   -webkit-box-shadow: 0 2px 2px rgba(0,0,0,0.2); -moz-box-shadow: 0 2px 2px rgba(0,0,0,0.2); -o-box-shadow: 0 2px 2px rgba(0,0,0,0.2); -ms-box-shadow: 0 2px 2px rgba(0,0,0,0.2); box-shadow: 0 2px 2px rgba(0,0,0,0.2); 
   -webkit-animation: jumpOut 1.5s linear; -moz-animation: jumpOut 1.5s linear; -o-animation: jumpOut 1.5s linear; -ms-animation: jumpOut 1.5s linear; animation: jumpOut 1.5s linear;
}

/* News image */
#news_column .news_column .news_image 
{
   width: 230px;
   height: 145px;
   margin: 0 auto 5px auto;
   overflow: hidden;
}

#news_column .news_column .news_image img { width: 230px; height: 145px; -webkit-transition: all 1s ease-out; -moz-transition: all 1s ease-out; -o-transition: all 1s ease-out; -ms-transition: all 1s ease-out; transition: all 1s ease-out; }
#news_column .news_column .news_image img:hover { -webkit-transform: scale(1.1); -moz-transform: scale(1.1); -o-transform: scale(1.1); -ms-transform: scale(1.1); transform: scale(1.1); }

/* News title */
#news_column .news_column .news_title 
{
   color: #0384CE;
   font-size: 14px;
   padding: 0 5px 5px 5px; 
   text-overflow: ellipsis; 
   white-space: nowrap; 
   overflow: hidden;
}

#news_column .news_column .news_title:hover { color: #0364CE; }
#news_column .news_column .news_title:active { color: #0344CE; }

/* News text */
#news_column .news_column .news_text 
{
   color: #000;
   font-size: 14px;
   padding: 0 5px 0 5px; 
   text-overflow: ellipsis; 
   white-space: nowrap; 
   overflow: hidden;
}

#news_column .news_column .news_more 
{
   display: block;
   background: #0384CE;
   position: relative;
   width: 120px;
   height: 25px;
   margin: 10px 0 0 -11px;
   color: #FFF;
   font-size: 12px;
   text-align: center;
   line-height: 25px;
}

#news_column .news_column .news_more:hover { background: #0364CE; cursor: pointer; }
#news_column .news_column .news_more:active { background: #0344CE; }

#news_column .news_column .news_more:before 
{
   content: '';
   position: absolute;
   left: 0;
   bottom: -6.25px;
   width: 0;
   height: 0;
   border-width: 6.25px 0 0 6.25px;
   border-style: solid;
   border-color: #3156A3 transparent #3156A3 transparent;
}

#news_column .news_column .news_more:after 
{
   content: '';
   position: absolute;
   top: 0;
   right: 0;
   width: 0;
   height: 0;
   border-width: 12.5px;
   border-style: solid;
   border-color: transparent #FFF transparent transparent;
}

/* Load more */
#news_column #load_more 
{
   float: left;
   background: #0384CE;
   width: 170px;
   height: 30px;
   padding: 0 5px 0 5px;
   margin: 10px 0 0 410px;
   color: #FFF;
   font-size: 14px;
   text-align: center;
   line-height: 30px;
   overflow: hidden;
   clear: both;
    -webkit-border-radius: 5px; -moz-border-radius: 5px; -o-border-radius: 5px; -ms-border-radius: 5px; border-radius: 5px;
   -webkit-box-shadow: 0 2px 2px rgba(0,0,0,0.2); -moz-box-shadow: 0 2px 2px rgba(0,0,0,0.2); -o-box-shadow: 0 2px 2px rgba(0,0,0,0.2); -ms-box-shadow: 0 2px 2px rgba(0,0,0,0.2); box-shadow: 0 2px 2px rgba(0,0,0,0.2); 
}

#news_column #load_more:hover { background: #0364CE; cursor: pointer; }
#news_column #load_more:active { background: #0344CE; }

/* Ajax status */
#news_column #ajax_status { display: none; font-size: 16px; text-align: center; }

/* Ajax loader */
#news_column #ajax_status .ajax_loader 
{
   float: left;
   background: rgba(0,0,0,0.5);
   width: 44px;
   height: 44px;
   margin: 10px 0 0 478px;
   overflow: hidden;
   clear: both;
   text-align: center;
   -webkit-border-radius: 5px; -moz-border-radius: 5px; -o-border-radius: 5px; -ms-border-radius: 5px; border-radius: 5px;
}

/* All loaded */
#news_column .all_loaded { color: #0384CE; font-size: 16px; text-align: center; }

/* AJAX loader image margin */
#news_column #ajax_status .ajax_loader .a_l_img_m { margin-top: 10px; }

/* :: Reviews column
-----------------------------------------------------------------------------*/
#reviews_column 
{
   width: 100%;
   min-width: 1000px; 
   height: 420px;
   padding-bottom: 55px;
   border-bottom: 2px ridge #3156A3;
   overflow: hidden;
}

#reviews_column .bx-wrapper { width: 1000px; height: 300px; margin: 0 auto; }
#reviews_column .bx-wrapper .bx-pager.bx-default-pager a:hover, #reviews_column .bx-wrapper .bx-pager.bx-default-pager a.active { background: #FFF; }

#reviews_column .reviews_column 
{
   background: #252525;
   width: 1000px;
   height: 300px;
   margin: 0 auto;
}

#reviews_column .reviews_column .reviews_client_img 
{
   float: left;
   width: 250px;
   height: 250px;
   margin: 25px 0 0 20px; 
   overflow: hidden;
   -webkit-box-shadow: 0 0 2px 2px rgba(0,0,0,0.2); -moz-box-shadow: 0 0 2px 2px rgba(0,0,0,0.2); -o-box-shadow: 0 0 2px 2px rgba(0,0,0,0.2); -ms-box-shadow: 0 0 2px 2px rgba(0,0,0,0.2); box-shadow: 0 0 2px 2px rgba(0,0,0,0.2);
}

#reviews_column .reviews_column .reviews_client_img img { width: 250px; height: 250px; }

#reviews_column .reviews_column .reviews_client_text 
{
   color: #FFF;
   font-size: 14px;
   text-align: left;
   padding: 20px 40px 20px 20px;
   overflow: hidden;
}

#reviews_column .reviews_column .reviews_client_nc 
{
   color: #FFF;
   font-size: 14px;
   text-align: right;
   padding: 20px 40px 0 0;
}

/* :: FAQs column
-----------------------------------------------------------------------------*/
#faqs_column 
{
   background: url('../images/column_bg/white_bg.png') repeat;
   width: 100%; 
   min-width: 1000px; 
   min-height: 300px; 
   padding-bottom: 55px;
   border-bottom: 2px ridge #42B3E5;
   overflow: hidden;
}

/* Question and answer column */
#qn_ar_column { width: 1000px; margin: 0 auto; }

#qn_ar_column dl dt 
{
   background: #3156A3;
   width: auto;
   height: 40px;
   padding: 0 20px 0 20px;
   margin-top: 5px;
   color: #FFF;
   font-size: 16px;
   line-height: 40px;
   -webkit-border-radius: 5px; -moz-border-radius: 5px; -o-border-radius: 5px; -ms-border-radius: 5px; border-radius: 5px;
   -webkit-transition: all 1s linear; -moz-transition: all 1s linear; -o-transition: all 1s linear; -ms-transition: all 1s linear; transition: all 1s linear;
}

#qn_ar_column dl dt:hover { background: #0384CE; cursor: pointer; }
#qn_ar_column dl dt.active { background: #0384CE; }

#qn_ar_column dl dd 
{
   background: #FFF;
   width: auto;
   height: auto;
   padding: 20px 20px 10px 20px;
   margin-bottom: 5px;
   border: 1px solid #DCDCDC;
   -webkit-border-radius: 0 0 5px 5px; -moz-border-radius: 0 0 5px 5px; -o-border-radius: 0 0 5px 5px; -ms-border-radius: 0 0 5px 5px; border-radius: 0 0 5px 5px;
}

#qn_ar_column dl dt.dt_b_r { -webkit-border-radius: 5px 5px 0 0; -moz-border-radius: 5px 5px 0 0; -o-border-radius: 5px 5px 0 0; -ms-border-radius: 5px 5px 0 0; border-radius: 5px 5px 0 0; }

/* :: Contacts column
-----------------------------------------------------------------------------*/
#contacts_column 
{
   background: url('../images/column_bg/black_bg.png') repeat;
   width: 100%; 
   min-width: 1000px; 
   min-height: 400px; 
   overflow: hidden;
}

/* Page time */
#contacts_column #page_time 
{
   background: #0384CE;
   width: 1000px;
   height: 40px;
   margin: 0 auto 10px auto;
   color: #FFF;
   font-size: 16px;
   text-align: center;
   line-height: 40px;

}

/* Tooltip */
#contacts_column #page_time .tooltip 
{
   position: absolute;
   width: 150px;
   height: 20px;
   line-height: 20px;
   padding: 5px 10px 5px 10px;
   margin: -40px 0 0 -94px;
   font-size: 14px;
   text-align: center;
   color: #FFF;
   background: #0384CE;
   border: 4px solid #FFF;
   text-shadow: 1px 1px 1px rgba(0,0,0,0.0980392);
   -webkit-border-radius: 5px; -moz-border-radius: 5px; -o-border-radius: 5px; -ms-border-radius: 5px; border-radius: 5px;
   -webkit-box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.0980392); -moz-box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.0980392); -o-box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.0980392); -ms-box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.0980392); box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.0980392);
}

#contacts_column #page_time .tooltip:after 
{
   content: '';
   position: absolute;
   width: 0;
   height: 0;
   border-width: 10px;
   border-style: solid;
   border-color: #FFF transparent transparent transparent;
   top: 34px;
   left: 75px;
}

/* Our location column */
#contacts_column #our_location_column 
{
    width: 100%;
    height: 400px;
    padding-bottom: 15px;
}

#contacts_column #our_location_column #our_location 
{
    width: 100%;
    height: 100%;
   margin-top: -15px;
   color: #000 !important;
   -webkit-border-radius: 0 0 5px 5px; -moz-border-radius: 0 0 5px 5px; -o-border-radius: 0 0 5px 5px; -ms-border-radius: 0 0 5px 5px; border-radius: 0 0 5px 5px;
}

/* Our contacts column */
#contacts_column #our_contacts_column 
{
   padding-bottom: 15px;
}

/* Email and phones */
#contacts_column #our_contacts_column .email_phones { width: auto; margin-left: 20px; }

#contacts_column #our_contacts_column .email_phones ul li 
{
   min-width: 24px;
   height: 24px;
   color: #FFF;
   font-size: 14px;
   padding-left: 35px;
   margin-bottom: 10px;
   line-height: 24px;
   letter-spacing: 2px;
}

#contacts_column #our_contacts_column .email_phones ul li:nth-child(1) { background: url('../images/office_phone.png') no-repeat left center; }
#contacts_column #our_contacts_column .email_phones ul li:nth-child(2) { background: url('../images/office_phone.png') no-repeat left center; }
#contacts_column #our_contacts_column .email_phones ul li:nth-child(3) { background: url('../images/mobile_phone.png') no-repeat left center; }
#contacts_column #our_contacts_column .email_phones ul li:nth-child(4) { background: url('../images/mobile_phone.png') no-repeat left center; }
#contacts_column #our_contacts_column .email_phones ul li:nth-child(5) { background: url('../images/e-mail.png') no-repeat left center; }

/* Social icons column */
#contacts_column #our_contacts_column .social_icons_column { width: auto; margin-top: 40px; text-align: center; }
#contacts_column #our_contacts_column .social_icons_column ul { display: inline-block; margin: 0 auto; text-align: center; }
#contacts_column #our_contacts_column .social_icons_column ul li { float: left; }
.feedback {
    background: #00B9E8;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
}
#contacts_column #our_contacts_column .social_icons_column ul li a 
{
   display: block;
   width: 48px;
    margin: 0 10px;
   height: 48px;
   text-align: center;
}
.email_phones ul {
    display: inline-block;
    vertical-align: top;
    width: 35%;
    margin-left: 125px;
}
#contacts_column #our_contacts_column .social_icons_column ul li:nth-child(1) a { background: url('../images/social_icons/facebook.png') no-repeat center center; }
#contacts_column #our_contacts_column .social_icons_column ul li:nth-child(2) a { background: url('../images/social_icons/instagram.png') no-repeat center center; }
#contacts_column #our_contacts_column .social_icons_column ul li:nth-child(3) a { background: url('../images/social_icons/instagram.png') no-repeat center center; }

/* :: Animation
-----------------------------------------------------------------------------*/
/* Blink animation */
.blink { -moz-animation: blink 1s linear infinite; -webkit-animation: blink 1s linear infinite; -o-animation: blink 1s linear infinite; -ms-animation: blink 1s linear infinite; animation: blink 1s linear infinite; }

@-moz-keyframes blink { 0% { color: transparent; } 100% { color: #FFF; } }
@-webkit-keyframes blink { 0% { color: transparent; } 100% { color: #FFF; } }
@-o-keyframes blink { 0% { color: transparent; } 100% { color: #FFF; } }
@-ms-keyframes blink { 0% { color: transparent; } 100% { color: #FFF; } }
@keyframes blink { 0% { color: transparent; } 100% { color: #FFF; } }

/* Luster animation */
#three_column  .three_in_column a.more_button, #doctors_schedule_column .schedule_column .doctor_name 
{
   background-image: -webkit-linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.25) 25%, rgba(255,255,255,0.5) 50%, rgba(255,255,255,0.75) 75%, rgba(255,255,255,0) 100%);
   background-image: -moz-linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.25) 25%, rgba(255,255,255,0.5) 50%, rgba(255,255,255,0.75) 75%, rgba(255,255,255,0) 100%);
   background-image: -o-linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.25) 25%, rgba(255,255,255,0.5) 50%, rgba(255,255,255,0.75) 75%, rgba(255,255,255,0) 100%);
   background-image: -ms-linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.25) 25%, rgba(255,255,255,0.5) 50%, rgba(255,255,255,0.75) 75%, rgba(255,255,255,0) 100%);
   background-image: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.25) 25%, rgba(255,255,255,0.5) 50%, rgba(255,255,255,0.75) 75%, rgba(255,255,255,0) 100%);
   background-position: -900px 0;
   background-repeat: no-repeat;
   background-size: 100% 100%;
   -moz-animation: luster 5s linear infinite; -webkit-animation: luster 5s linear infinite; -o-animation: luster 5s linear infinite; -ms-animation: luster 5s linear infinite; animation: luster 5s linear infinite;
}

@-moz-keyframes luster { 0% { background-position: -900px 0; } 50% { background-position: 900px 0; } 100% { background-position: 900px 0; } }
@-webkit-keyframes luster { 0% { background-position: -900px 0; } 50% { background-position: 900px 0; } 100% { background-position: 900px 0; } }
@-o-keyframes luster { 0% { background-position: -900px 0; } 50% { background-position: 900px 0; } 100% { background-position: 900px 0; } }
@-ms-keyframes luster { 0% { background-position: -900px 0; } 50% { background-position: 900px 0; } 100% { background-position: 900px 0; } }
@keyframes luster { 0% { background-position: -900px 0; } 50% { background-position: 900px 0; } 100% { background-position: 900px 0; } }

/* Pulse animation */
@-webkit-keyframes pulse 
{
   0% { -webkit-transform: scale(0.9); -moz-transform: scale(0.9); -o-transform: scale(0.9); -ms-transform: scale(0.9); transform: scale(0.9); }
   50% { -webkit-transform: scale(1); -moz-transform: scale(1); -o-transform: scale(1); -ms-transform: scale(1); transform: scale(1); }
   100% { -webkit-transform: scale(0.9); -moz-transform: scale(0.9); -o-transform: scale(0.9); -ms-transform: scale(0.9); transform: scale(0.9); } 
}

@-moz-keyframes pulse 
{
   0% { -webkit-transform: scale(0.9); -moz-transform: scale(0.9); -o-transform: scale(0.9); -ms-transform: scale(0.9); transform: scale(0.9); }
   50% { -webkit-transform: scale(1); -moz-transform: scale(1); -o-transform: scale(1); -ms-transform: scale(1); transform: scale(1); }
   100% { -webkit-transform: scale(0.9); -moz-transform: scale(0.9); -o-transform: scale(0.9); -ms-transform: scale(0.9); transform: scale(0.9); } 
}

@-o-keyframes pulse 
{
   0% { -webkit-transform: scale(0.9); -moz-transform: scale(0.9); -o-transform: scale(0.9); -ms-transform: scale(0.9); transform: scale(0.9); }
   50% { -webkit-transform: scale(1); -moz-transform: scale(1); -o-transform: scale(1); -ms-transform: scale(1); transform: scale(1); }
   100% { -webkit-transform: scale(0.9); -moz-transform: scale(0.9); -o-transform: scale(0.9); -ms-transform: scale(0.9); transform: scale(0.9); } 
}

@-ms-keyframes pulse 
{
   0% { -webkit-transform: scale(0.9); -moz-transform: scale(0.9); -o-transform: scale(0.9); -ms-transform: scale(0.9); transform: scale(0.9); }
   50% { -webkit-transform: scale(1); -moz-transform: scale(1); -o-transform: scale(1); -ms-transform: scale(1); transform: scale(1); }
   100% { -webkit-transform: scale(0.9); -moz-transform: scale(0.9); -o-transform: scale(0.9); -ms-transform: scale(0.9); transform: scale(0.9); } 
}

@keyframes pulse 
{
   0% { -webkit-transform: scale(0.9); -moz-transform: scale(0.9); -o-transform: scale(0.9); -ms-transform: scale(0.9); transform: scale(0.9); }
   50% { -webkit-transform: scale(1); -moz-transform: scale(1); -o-transform: scale(1); -ms-transform: scale(1); transform: scale(1); }
   100% { -webkit-transform: scale(0.9); -moz-transform: scale(0.9); -o-transform: scale(0.9); -ms-transform: scale(0.9); transform: scale(0.9); } 
}

/* jumpOut animation */
@-webkit-keyframes jumpOut 
{
   0% { -webkit-transform: scale(0.0); -moz-transform: scale(0.0); -o-transform: scale(0.0); -ms-transform: scale(0.0); transform: scale(0.0); }
   10% { -webkit-transform: scale(0.1); -moz-transform: scale(0.1); -o-transform: scale(0.1); -ms-transform: scale(0.1); transform: scale(0.1); }
   20% { -webkit-transform: scale(0.2); -moz-transform: scale(0.2); -o-transform: scale(0.2); -ms-transform: scale(0.2); transform: scale(0.2); }
   30% { -webkit-transform: scale(0.3); -moz-transform: scale(0.3); -o-transform: scale(0.3); -ms-transform: scale(0.3); transform: scale(0.3); }
   40% { -webkit-transform: scale(0.4); -moz-transform: scale(0.4); -o-transform: scale(0.4); -ms-transform: scale(0.4); transform: scale(0.4); }
   50% { -webkit-transform: scale(0.5); -moz-transform: scale(0.5); -o-transform: scale(0.5); -ms-transform: scale(0.5); transform: scale(0.5); }
   60% { -webkit-transform: scale(0.6); -moz-transform: scale(0.6); -o-transform: scale(0.6); -ms-transform: scale(0.6); transform: scale(0.6); }
   70% { -webkit-transform: scale(0.7); -moz-transform: scale(0.7); -o-transform: scale(0.7); -ms-transform: scale(0.7); transform: scale(0.7); }
   80% { -webkit-transform: scale(0.8); -moz-transform: scale(0.8); -o-transform: scale(0.8); -ms-transform: scale(0.8); transform: scale(0.8); }
   90% { -webkit-transform: scale(0.9); -moz-transform: scale(0.9); -o-transform: scale(0.9); -ms-transform: scale(0.9); transform: scale(0.9); }
   100% { -webkit-transform: scale(1); -moz-transform: scale(1); -o-transform: scale(1); -ms-transform: scale(1); transform: scale(1); }
}

@-moz-keyframes jumpOut 
{
   0% { -webkit-transform: scale(0.0); -moz-transform: scale(0.0); -o-transform: scale(0.0); -ms-transform: scale(0.0); transform: scale(0.0); }
   10% { -webkit-transform: scale(0.1); -moz-transform: scale(0.1); -o-transform: scale(0.1); -ms-transform: scale(0.1); transform: scale(0.1); }
   20% { -webkit-transform: scale(0.2); -moz-transform: scale(0.2); -o-transform: scale(0.2); -ms-transform: scale(0.2); transform: scale(0.2); }
   30% { -webkit-transform: scale(0.3); -moz-transform: scale(0.3); -o-transform: scale(0.3); -ms-transform: scale(0.3); transform: scale(0.3); }
   40% { -webkit-transform: scale(0.4); -moz-transform: scale(0.4); -o-transform: scale(0.4); -ms-transform: scale(0.4); transform: scale(0.4); }
   50% { -webkit-transform: scale(0.5); -moz-transform: scale(0.5); -o-transform: scale(0.5); -ms-transform: scale(0.5); transform: scale(0.5); }
   60% { -webkit-transform: scale(0.6); -moz-transform: scale(0.6); -o-transform: scale(0.6); -ms-transform: scale(0.6); transform: scale(0.6); }
   70% { -webkit-transform: scale(0.7); -moz-transform: scale(0.7); -o-transform: scale(0.7); -ms-transform: scale(0.7); transform: scale(0.7); }
   80% { -webkit-transform: scale(0.8); -moz-transform: scale(0.8); -o-transform: scale(0.8); -ms-transform: scale(0.8); transform: scale(0.8); }
   90% { -webkit-transform: scale(0.9); -moz-transform: scale(0.9); -o-transform: scale(0.9); -ms-transform: scale(0.9); transform: scale(0.9); }
   100% { -webkit-transform: scale(1); -moz-transform: scale(1); -o-transform: scale(1); -ms-transform: scale(1); transform: scale(1); }
}

@-o-keyframes jumpOut 
{
   0% { -webkit-transform: scale(0.0); -moz-transform: scale(0.0); -o-transform: scale(0.0); -ms-transform: scale(0.0); transform: scale(0.0); }
   10% { -webkit-transform: scale(0.1); -moz-transform: scale(0.1); -o-transform: scale(0.1); -ms-transform: scale(0.1); transform: scale(0.1); }
   20% { -webkit-transform: scale(0.2); -moz-transform: scale(0.2); -o-transform: scale(0.2); -ms-transform: scale(0.2); transform: scale(0.2); }
   30% { -webkit-transform: scale(0.3); -moz-transform: scale(0.3); -o-transform: scale(0.3); -ms-transform: scale(0.3); transform: scale(0.3); }
   40% { -webkit-transform: scale(0.4); -moz-transform: scale(0.4); -o-transform: scale(0.4); -ms-transform: scale(0.4); transform: scale(0.4); }
   50% { -webkit-transform: scale(0.5); -moz-transform: scale(0.5); -o-transform: scale(0.5); -ms-transform: scale(0.5); transform: scale(0.5); }
   60% { -webkit-transform: scale(0.6); -moz-transform: scale(0.6); -o-transform: scale(0.6); -ms-transform: scale(0.6); transform: scale(0.6); }
   70% { -webkit-transform: scale(0.7); -moz-transform: scale(0.7); -o-transform: scale(0.7); -ms-transform: scale(0.7); transform: scale(0.7); }
   80% { -webkit-transform: scale(0.8); -moz-transform: scale(0.8); -o-transform: scale(0.8); -ms-transform: scale(0.8); transform: scale(0.8); }
   90% { -webkit-transform: scale(0.9); -moz-transform: scale(0.9); -o-transform: scale(0.9); -ms-transform: scale(0.9); transform: scale(0.9); }
   100% { -webkit-transform: scale(1); -moz-transform: scale(1); -o-transform: scale(1); -ms-transform: scale(1); transform: scale(1); }
}

@-ms-keyframes jumpOut 
{
   0% { -webkit-transform: scale(0.0); -moz-transform: scale(0.0); -o-transform: scale(0.0); -ms-transform: scale(0.0); transform: scale(0.0); }
   10% { -webkit-transform: scale(0.1); -moz-transform: scale(0.1); -o-transform: scale(0.1); -ms-transform: scale(0.1); transform: scale(0.1); }
   20% { -webkit-transform: scale(0.2); -moz-transform: scale(0.2); -o-transform: scale(0.2); -ms-transform: scale(0.2); transform: scale(0.2); }
   30% { -webkit-transform: scale(0.3); -moz-transform: scale(0.3); -o-transform: scale(0.3); -ms-transform: scale(0.3); transform: scale(0.3); }
   40% { -webkit-transform: scale(0.4); -moz-transform: scale(0.4); -o-transform: scale(0.4); -ms-transform: scale(0.4); transform: scale(0.4); }
   50% { -webkit-transform: scale(0.5); -moz-transform: scale(0.5); -o-transform: scale(0.5); -ms-transform: scale(0.5); transform: scale(0.5); }
   60% { -webkit-transform: scale(0.6); -moz-transform: scale(0.6); -o-transform: scale(0.6); -ms-transform: scale(0.6); transform: scale(0.6); }
   70% { -webkit-transform: scale(0.7); -moz-transform: scale(0.7); -o-transform: scale(0.7); -ms-transform: scale(0.7); transform: scale(0.7); }
   80% { -webkit-transform: scale(0.8); -moz-transform: scale(0.8); -o-transform: scale(0.8); -ms-transform: scale(0.8); transform: scale(0.8); }
   90% { -webkit-transform: scale(0.9); -moz-transform: scale(0.9); -o-transform: scale(0.9); -ms-transform: scale(0.9); transform: scale(0.9); }
   100% { -webkit-transform: scale(1); -moz-transform: scale(1); -o-transform: scale(1); -ms-transform: scale(1); transform: scale(1); }
}

@keyframes jumpOut 
{
   0% { -webkit-transform: scale(0.0); -moz-transform: scale(0.0); -o-transform: scale(0.0); -ms-transform: scale(0.0); transform: scale(0.0); }
   10% { -webkit-transform: scale(0.1); -moz-transform: scale(0.1); -o-transform: scale(0.1); -ms-transform: scale(0.1); transform: scale(0.1); }
   20% { -webkit-transform: scale(0.2); -moz-transform: scale(0.2); -o-transform: scale(0.2); -ms-transform: scale(0.2); transform: scale(0.2); }
   30% { -webkit-transform: scale(0.3); -moz-transform: scale(0.3); -o-transform: scale(0.3); -ms-transform: scale(0.3); transform: scale(0.3); }
   40% { -webkit-transform: scale(0.4); -moz-transform: scale(0.4); -o-transform: scale(0.4); -ms-transform: scale(0.4); transform: scale(0.4); }
   50% { -webkit-transform: scale(0.5); -moz-transform: scale(0.5); -o-transform: scale(0.5); -ms-transform: scale(0.5); transform: scale(0.5); }
   60% { -webkit-transform: scale(0.6); -moz-transform: scale(0.6); -o-transform: scale(0.6); -ms-transform: scale(0.6); transform: scale(0.6); }
   70% { -webkit-transform: scale(0.7); -moz-transform: scale(0.7); -o-transform: scale(0.7); -ms-transform: scale(0.7); transform: scale(0.7); }
   80% { -webkit-transform: scale(0.8); -moz-transform: scale(0.8); -o-transform: scale(0.8); -ms-transform: scale(0.8); transform: scale(0.8); }
   90% { -webkit-transform: scale(0.9); -moz-transform: scale(0.9); -o-transform: scale(0.9); -ms-transform: scale(0.9); transform: scale(0.9); }
   100% { -webkit-transform: scale(1); -moz-transform: scale(1); -o-transform: scale(1); -ms-transform: scale(1); transform: scale(1); }
}

/* :: Footer
-----------------------------------------------------------------------------*/
#footer 
{
   background: url('../images/column_bg/black_bg.png') repeat;
   width: 100%;
   min-width: 1000px;
}

/* Copyright */
#footer .copyright 
{
   color: #FFF;
   font-size: 16px;
   text-align: center;
    padding: 20px;
}
