<div class="news_column">
<div class="news_image"><a href="#" class="news fancybox.iframe"><img src="news/images/1.jpg" /></a></div>
<h1 class="news_title">Название новости</h1>
<p class="news_text">Название новости, новости, новости, <br /> новости, новости, новости, новости</p>
<a href="#" class="news_more news fancybox.iframe">Подробнее</a>
</div>

<div class="news_column">
<div class="news_image"><a href="#" class="news fancybox.iframe"><img src="news/images/2.png" /></a></div>
<h1 class="news_title">Название новости</h1>
<p class="news_text">Название новости, новости, новости, <br /> новости, новости, новости, новости</p>
<a href="#" class="news_more news fancybox.iframe">Подробнее</a>
</div>

<div class="news_column">
<div class="news_image"><a href="#" class="news fancybox.iframe"><img src="news/images/1.jpg" /></a></div>
<h1 class="news_title">Название новости</h1>
<p class="news_text">Название новости, новости, новости, <br /> новости, новости, новости, новости</p>
<a href="#" class="news_more news fancybox.iframe">Подробнее</a>
</div>

<div class="news_column">
<div class="news_image"><a href="#" class="news fancybox.iframe"><img src="news/images/2.png" /></a></div>
<h1 class="news_title">Название новости</h1>
<p class="news_text">Название новости, новости, новости, <br /> новости, новости, новости, новости</p>
<a href="#" class="news_more news fancybox.iframe">Подробнее</a>
</div>