@import url('../../css/reset.css');

/* :: Basic styles
-----------------------------------------------------------------------------*/
a { text-decoration: none; }
input, textarea, select, button { outline: 0; vertical-align: middle; }
input[type='radio'] { vertical-align: top; }
button:hover, input[type='submit']:hover, input[type='button']:hover  { cursor: pointer; }

::-webkit-input-placeholder { color: #BEBEBE; }
:-moz-placeholder { color: #BEBEBE; }
::-moz-placeholder { color: #BEBEBE; }
:-ms-input-placeholder { color: #BEBEBE; }

::selection { background: #0384CE; }
::-moz-selection { background: #0384CE; }

a, input, textarea, select, button, label, div, span {
-moz-transition: all 0.5s linear;
-webkit-transition: all 0.5s linear;
-o-transition: all 0.5s linear;
-ms-transition: all 0.5s linear;
transition: all 0.5s linear;
}

a:active {
-moz-transition: all 0.01s linear;
-webkit-transition: all 0.01s linear;
-o-transition: all 0.01s linear;
-ms-transition: all 0.01s linear;
transition: all 0.01s linear;
}

/* :: Body
-----------------------------------------------------------------------------*/
body {
width: 100%;
font: 100% Arial, sans-serif;
text-align: _left;
}

/* :: Doctor column
-----------------------------------------------------------------------------*/
/* Doctor album column */
#doctor_album_column { width: 500px; height: auto; margin: 0 auto 10px auto; }

.bx-wrapper .bx-viewport {
-webkit-box-shadow: none;
-moz-box-shadow: none;
-o-box-shadow: none;
-ms-box-shadow: none;
box-shadow: none;
-webkit-border-radius: 0;
-moz-border-radius: 0;
-o-border-radius: 0;
-ms-border-radius: 0;
border-radius: 0;
}

/* Doctor information column */
#doctor_information_column { padding: 0 5px 0 5px; }
#doctor_information_column h1, #doctor_information_column h2, #doctor_information_column p { color: #000; padding-bottom: 10px; }
#doctor_information_column h1 { font-size: 20px; }
#doctor_information_column h2 { font-size: 18px; }
#doctor_information_column p { font-size: 16px; }

/* Doctor certificates column */
#doctor_certificates_column { padding: 0 5px 0 5px; margin-bottom: 10px; }
#doctor_certificates_column h1 { color: #000; font-size: 18px; padding-bottom: 10px; } 
#doctor_certificates_column ul li { color: #000; font-size: 16px; padding-bottom: 5px; }
#doctor_certificates_column p { font-size: 14px; font-weight: bold; padding-top: 5px; }

/* Doctor contacts column */
#doctor_contacts_column { padding: 0 5px 0 5px; }

#doctor_contacts_column h1 {
color: #000;
font-size: 18px;
border-bottom: 4px double #0384CE;
padding-bottom: 5px; 
margin-bottom: 10px;
}

#doctor_contacts_column ul li {
min-width: 24px;
height: 24px;
color: #000;
font-size: 14px;
padding-left: 35px;
margin-bottom: 5px;
line-height: 24px;
letter-spacing: 2px;
}

#doctor_contacts_column ul li:nth-child(1) { background: url('../images/mobile_phone.png') no-repeat left center; }
#doctor_contacts_column ul li:nth-child(2) { background: url('../images/mobile_phone.png') no-repeat left center; }
#doctor_contacts_column ul li:nth-child(3) { background: url('../images/e-mail.png') no-repeat left center; }


.bx-wrapper { width: 500px; height: auto; margin: 0 20px 20px 0!important; float: left!important;}
